<html>
<% layout( 'layout' ) -%>
 
<h1><%= title %></h1>
<form action="/create" method="post" accept-charset="utf-8">
  <input type="text" name="content" />
</form>
 
<% whiteboards.forEach( function( whiteboard ){ %>
  <p>
    <span>
      <% if( whiteboard._id == current ){ %>
      <form action="/update/<%= whiteboard._id %>" method="post" accept-charset="utf-8">
        <input type="text" name="content" value="<%= whiteboard.content %>" />
      </form>
      <% }else{ %>
        <a href="/edit/<%= whiteboard._id %>" title="Update this whiteboard item"><%= whiteboard.content %></a>
      <% } %>
    </span>
    <span>
      <a href="/destroy/<%= whiteboard._id %>" title="Delete this whiteboard item">Delete</a>
    </span>
  </p>
<% }); %>
</html>
