<html>
<% layout ('layout') -%>
 <h1> <%= title %> </h1>
 <form action="/create" method="post" accept-charset="utf-8">
   <input type="text" name="content" />
 </form>

<% whiteboards.forEach( function(whiteboard){ %>
<p><%= whiteboard.content %></p>
<% }); %>

<% whiteboards.forEach (function(whiteboard){ %>
<p>
  <span>
   <a href="/edit/<%= whiteboard._id %>" title="Update this whiteboard item"> <%= whiteboard.content %></a>
  </span>
  <span>
  <a href="/destroy/<%= whiteboard._id %>" title="Delete this whiteboard obj">Delete</a>
  </span>
</p>
<% }); %>
</html>
